<h3>Edit Administrator</h3>

<div id="admin_form">
  <%= render :partial => 'form_edit_admin' %>
</div>

<br>
<div class="reset_password_admin">
    <%= link_to "Reset password", remote: true %>
</div>

<div id="password_form_admin">
  <%= render :partial => 'form_edit_password' %>
</div>
<br>

<%= link_to "Back", admins_path %>
