
<% if get_role_for_current_user == 1%>
  <h2>The registered Administrators</h2>
  <div id="admins_list" class="div_main">
    <%= render :partial => "list_admins" %>
  </div>
  <br>
  <%= link_to "Add new administrator", sign_up_admin_path %>
  </div>
<% end %>
<br>
<br>
<h2>The registered Users</h2>
<div id="users_list" class="div_main">
  <%= render :partial => "list_users" %>
</div>
