<div class="div_main">
    <h4> Welcome to the Green-Sky project. Log in, please, in the system and use our functionality.</h4>
<h6>
The user does not have many rights in the system. If you have alredy been registered as user, click Log_out, please, and register as an administrator</h6>
</div>





