<h2>Show User</h2>

<div class="div_main">

  <p>
      first_name: <%= @user.first_name %><br/>
  </p>

  <p>
      last_name: <%= @user.last_name %><br/>
  </p>

  <p>
      email: <%= @user.email %><br/>
  </p>

</div>
<% if is_admin %>
    <div>
    <%= button_to 'Delete User', user_path(@user.id), method: :delete %>
    </div>
<% end %>
